<!DOCTYPE html>
<html>
	<head>
		<title>Blog App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" href="/stylesheets/app.css">
	</head>
	<body>
		<!-- Navbar -->
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<a href="/" class="header item"><i class="thumbtack icon"></i>Blog Site</a>
				<a href="/" class="item"><i class="home icon"></i>Home</a>
				<a href="/blogs/new" class="item"><i class="edit outline icon"></i>New Post</a>
				<div class="right menu">
					<% if(username){ %>
						<span class="username">Welcome back, 
							<a href="/blogs/articles/<%= username.username %>"><%= username.username %></a>!
						</span>
						<a href="/logout" class="item">
							<i class="sign-out icon"></i>
							Logout
						</a>
					<% }else{ %>
						<a href="/login" class="item">
							<i class="user circle icon"></i>
							Login
						</a>
					<% } %>
				</div>
			</div>
		</div>